html, body { /*Html,body - is the size of my popup. And it will be aplyed to all other pages opened with my popup*/
  width: 300px;
  height: auto;
  overflow: hidden;
}

.HeaderTextBlue   {text-align: center;font-weight: bold;font-size: 15px;color:#34beff;font-family: "Lucida Console", "Courier New", monospace;}
.HeaderTextPink   {text-align: center;font-weight: bold;font-size: 15px;color:#ff4d8a;font-family: "Lucida Console", "Courier New", monospace;}

.MyStuff {
	height:auto;width:auto;
	background-image: url("bg.jpg");
	background-repeat: repeat;
    background-position: center;
	background-size: 300px 9px;
	border-radius:10px;
}
.MyBody {
	text-align: left;
}
.alltxt  {
	font-weight: bold;
	background: -webkit-linear-gradient(#ffd341, #ffae08);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	float:left;
	font-family: "Brush Script MT", cursive;
	letter-spacing: 0.22em;
	text-decoration: none;
	padding-left: 0;

}

.allBox{
	display: block;
	height:23px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
}

 .allBtn {
	font-weight: bold;
    background-color: #ffd341;
	color: #000;/*#82c3db;*/
    border-radius: 12px;
    border: transparent;
    font-size: 11px;
    height: 23px;
	width: 42px;
	box-shadow: 0 2px #999;
}

.allBtn:active {
  background-color: #ffae08;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.text1 {
	float: left;
}

.Alert{
	padding-left: 5px;
	font-size: 20px;
	padding-right: 5px;
	line-height: 1.2;
	padding-bottom: 5px;
	letter-spacing: 0.202em;
	background: -webkit-linear-gradient(#ffd341, #ffae08);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	
}

.backbutton{
	background-color: rgba(153, 204, 255,0.2);
	text-decoration: none;
	padding-left: 40%;
	padding-right: 50%;
	border-bottom-right-radius 20px;
	border-bottom-left-radius 20px;
}
/*	END of Back button*/
/*	END of beautify help page*/

/* That is styling of switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 23px;
  float: right;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11.5px;
  width: 10px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #ffd341;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*     END of the switch	*/